@use "./abstracts/typography" as typography;
@use "./layouts/header";
@use "./abstracts/reset";

body {
  height: 100%;
  font-family: typography.$font-inter;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.app {
  position: relative;
}

.app__background-image {
  position: absolute;
  height: 11.5rem;
}
