@use "/src/sass/abstracts/colors" as colors;
@use "sass:map";
@use "/src/sass/components/item";

.app__main__checkout__items-container__item {
  display: flex;
  flex-direction: row;
}

.app__main__checkout {
  width: 100%;
  background-color: map.get(colors.$colors, gray-400);
  border-radius: 0.75rem 0.75rem 0 0;
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.flex {
  display: flex;
  flex-direction: row;
}
