@use "/src/sass/abstracts/colors" as colors;

.app__main {
  position: absolute;
  top: 6rem;
  padding: 0 0.75rem 0 0.75rem;

  &__checkout__items-container__item {
    display: flex;
    flex-direction: row;
  }
}

.app__main__checkout {
  width: 100%;
  background-color: map-get(colors.$colors, gray-400);
  border-radius: 0.75rem 0.75rem 0 0;
  padding: 1.25rem 0.75rem 1.25rem 0.75rem;

  &__items {
    width: 3rem;
  }

  &__items-container__item__product-info > *:first-child {
    display: flex;
    flex-direction: row;
  }

  &__items-container__item__image-container {
    background-color: map-get(colors.$colors, gray-300);
    border-radius: 0.5rem;
    width: 5rem;
    height: 6rem;
    border: solid 1px map-get(colors.$colors, gray-500);
  }

  &__items-container__item__image-container img {
    width: 2rem;
    height: 4rem;
    object-fit: cover;
    filter: blur(0);
  }
}

.flex {
  display: flex;
  flex-direction: row;
}
