@use "/src/sass/abstracts/colors" as colors;

.header {
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
  align-items: center;
  width: 100%;
  color: white;
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__item-count {
    background-color: map-get(colors.$colors, blue-900);
    font-size: 0.75rem;
    padding: 0.25rem 0.65rem 0.25rem 0.65rem;
    border-radius: 1rem;
  }
  &__item-count p {
    margin: 0;
  }
}
